
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#1b2023,#898b8d);
    margin-top: 0;
    position: absolute;
}
.box{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* border: 2px solid black; */
    padding: 10px 13px;
    border-radius: 10px;
}
.title{
    font-size: 20px;
    color: white;

}
.emailBox{
    padding: 15px 19px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.passwordBox{
    padding: 10px 14px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.box button{
    padding: 9px;
    font-size: 15px;
    background-color: #3d98da;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}