.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}

.fLists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0;
}
.fListItem{
    margin: 10px 0;
    list-style: none;
    cursor: pointer;
}
.fText {
  font-size: 1rem;
  margin-bottom: 10px;

}